#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    display: none;
    }
     
    #boxes .window {
    position: absolute;
    left: 0;
    top: 0;
    width: 440px;
    height: 200px;
    display: none;
    z-index: 9999;
    padding: 0px;
    border-radius: 15px;
    }
    #boxes .window .close-icon:hover{
        cursor: pointer;
    }
    #boxes .window .close-icon{
      margin-left: 560px;
  }
    #boxes #dialog {
    width: 600px;
    height: 500px;
    padding: 10px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 15pt;
    background-color: #FFFFFF;
    margin: auto;
    }
    form {
      border: 3px solid #FFFFFF;
    }
    
  
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
  
    button {
      background-color: #080808;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 50%;
      border-radius: 30px;
    }
    
    
    button:hover {
      opacity: 0.8;
    }
    
  
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
    }
    
  
    img.logo {
      width: 40%;
      height: 15%;
    }
    
  
    .container {
      padding: 16px;
      text-align: left;
    }
    .submit-button {
      text-align: center;
    }
  
    span.psw {
      float: right;
      padding-top: 16px;
    }
